@font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("../img/Montserrat-VariableFont_wght.ttf");
    font-display: swap;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
}

footer, footer a {
    background-color: #272b2e;
    color: #b7c9e0;
    text-decoration: none;
}
footer{
    min-height: 40vh;
    padding: 2rem;

}


h1, h2, h3 {
    padding: 0 20px;
    text-align: center;
}

h3 {
    margin: 40px 0;
}

.mainTitleh2 {
    font-weight: 700;
    color: #435061;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffe3;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Main-Logo img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #666;
}

.home-slideshow-dots {
    margin: -50px 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.home-slideshow-dots span {
    display: inline-block;
    text-align: center;
    margin: 0 0.5em;
}
.slideCaptation p{
    margin: 0;
}
.slideCaptation {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 4%;
    padding: 30px;
    max-height: 23vh;
    font-family: Times, serif;
    max-width: 40vw;
    
    border-bottom-right-radius: 26px;
    border-top-right-radius: 8px;
    border-top-left-radius: 26px;
    
    background-color: #00000062;
    transform: translateY(-50%);
    font-size: 1.6em;
    font-weight: bold;

    overflow: hidden;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: #717171;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    height: 60vh;
}

.fade {
    animation-name: slide;
    animation-duration: 4.5s;
}

@keyframes fade {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

.sectionCitation {
    background-color: rgb(67, 80, 96);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4vh;
    padding: 5vh;
}

blockquote {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    font-family: "Montserrat-VariableFont_wght";
    font-weight: 700;
    color: #ffffff;
}

.blockMarque {
    font-size: 50px;
}

.notre-mission {
    display: table;
    margin: 0 auto;
    text-transform: capitalize;
    background-color: rgb(145, 161, 180);
    padding: 10px 25px;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.sectionCitation-action {
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sectionCitation-action a {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
    width: 20%;
}

.sectionCitation-action a:hover {
    background-color: #f7f7f7;
}

.nous-soutenire {
    background-color: #29af8a;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.Devenire-Volontaire {
    background-color: #fff;
    color: rgb(145, 161, 180);
    border: 1px solid #ddd;
    border-radius: 2px;
}

.nos-causes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cause {
    background-color: #fff;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cause img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.cause span {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 25px;
}

.description {
    width: 100%;
    height: 40%;
    background-color: #29af8a;
    color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.section-NousRejoindre {
    background-image: url("../img/01-4.jpg");
    display: flex;
    justify-content: center;
    padding: 40px;
    background-size: cover;
    background-position: center;
}

.card-DevenireVolontaire {
    background-color: #ffffffe3;
    text-align: center;
    width: 460px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Rejoinez-Nous-Maintenant {
    display: block;
    justify-content: center;
    padding: 20px;
    background-color: #29af8a;
    margin: 30px auto;
}

.latestBlogs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog {
    width: 400px;
    background-color: #fcfcfc;
    padding: 20px;
    box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12), 0px 8px 10px -7px rgba(0,0,0,0.2);
}

.blog img {
    width: 100%;
}

.sectionSub {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 20px;
    background-color: #29af8a;
    margin-top: 40px;
    overflow: hidden;
}

.groupSub p {
    margin: 60px 0;
}

.groupSub {
    width: 60%;
}

.sectionSub a {
    border: 1px solid;
    padding: 20px;
    margin: 40px 0;
    color: #fff;
    text-decoration: none;
}

.sectionNewsletter {
    display: flex;
    
    justify-content: space-around;
    padding: 40px 0;
    align-items: baseline;
    background-color: #435061;
    color: #fff;
}


.sectionNewsletter form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.newsletter-grouptext, .sectionNewsletter form {padding: 0 20px;}

.sectionNewsletter form input, .sectionNewsletter form button {
    background-color: #fff;
    font-size: 17px;
    padding: 16px;
    border: 0;
    border-radius: 3px;
    flex-grow: 1;
    flex-basis: 200;
}

.sectionNewsletter form button {
    background-color: #29af8a;
}

.groupSub_blasons {
    background-color: #fff;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0 50px;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}
.groupSub_blasons img {
    height: 7vh;
    width: auto;
}

.footer-group {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto; 
}

.footer-group h4 {
    letter-spacing: -1px;
    text-align: justify;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

}
.footer-group p{
    margin: 0;
}


.footer-group-right, .footer-group-left, .socials, .footer-group-right-end , .socials{
    width: 400px;

}
.footer-group-right ul{
    list-style-type: none;
    padding: 0; margin: 0;

}


.socials-icons {
    display: flex;
    gap: 10px;
}

.socials svg {
    height: 5vh;
    fill: #b7c9e0;
}

/*##Pages Qui sommes-nous #*/

.Qsn-Header {
    background-image: url("../img/carousel4.jpg");
    background-repeat: no-repeat;
    height: 35vh;
}

.QsnCard {
    padding: 34px;
    width: 80%;
    
    background-color: #fff;
    margin-top: -92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

    border: 0.1px solid #80808026;
    box-shadow: 1px 5px 20px 0px #8282827a;
} 



.groupbureauCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin:  0 auto;

}

.bureauCardSection {
background-color: #29af8a;
padding: 40px 0;
}
.MembresCardSection {
    background-color: #e6e6e6;
    padding: 40px 0;
}
.bureauCardSection h2{
    font-weight: bold;
    color: #ffffff;
    font-size: 36px;
    line-height: 26px;
}

.MembresCardSection  h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 26px;
}


.bureauCard {
    height: 500px;
    background: #fff;
    width: 400px;
    padding: 20px;
}
.bureauCard a {
    text-decoration: none;
    background-color: #ac764ed4;
    color: #fff;
    padding: 20px;
    border-radius: 5px;

}
.bureauCardAvatar {
    margin: 3% auto;
    width: 17vh;
    height: 16vh;
    background-color: black;
    border-radius: 50%;
}
.bureauCardname{
    text-align: center;
}
.bureauCarddescription{
    text-align: left;
    margin: 30px 0;
}



/*##Pages Contacts #*/





.groupContact {
    display: flex;
    justify-content: center;
    color: #fff;
    max-width: 1000px;
    margin: 70px auto;
    height: 560px;
}

.contactCardInfo, .contactCardForm {
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 50%;
}

.contactCardForm{
    padding: 6vh 0;
    border: 1px #333 solid;
}


.contactCardForm form{
width: 80%;
margin: 0 auto;
}
.contactCardForm form textarea{    

    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 16px;
    resize: none;
}
.contactCardForm form input {
    height: 6vh;
    width: 100%;
    margin: 10px 0;
    border: 1px #333 solid;



}



















.contactCardInfo {
    background-color: #435061;
    padding: 6vh 0;

    
}


.cardLogo, .cardMail, .cardPhone {
    background-color: #fff;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    color: #333;
}

.cardLogo {
    text-align: center;
}

.cardMail p, .cardPhone p {
    padding: 0 20px;
}

.cardLogo img {
    width: auto;
    height: 100px;
    object-fit: cover;
}






@media all and (max-width: 800px) {
    nav ul {
        display: none;
        text-align: center;
    }

    .Main-Logo img {
        height: 70px;
        width: auto;
        margin-left: 20px;
    }

    header, nav, blockquote, .sectionCitation-action a, .sectionNewsletter, .sectionNewsletter ,  .newsletter-grouptext
    .footer-group-right, .footer-group-left, .footer-group-right-end, .groupContact, .contactCardInfo, .contactCardForm,
    .sectionNewsletter form input, .groupSub {
        width: 100%;
        display: block;
        
    }

    blockquote {
        text-align: left;
    }

    .mySlides img {
        height: 32vh;
    }

    .slideCaptation {
        transform: scale(0.7);
        top: 10%;
        left: 0;
        overflow: hidden;
        font-size: 16px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }

    .cause {
        width: 100%;
        height: 65vh;
    }

}
